<div class="container-home">

<h1>My family timeline</h1>

<div class="d-flex justify-content-between align-items-center">
  <img class="avatar-bordered avatar-green" alt="avatar-bordered" src="https://avatars.githubusercontent.com/u/9579324?v=4https://avatars.githubusercontent.com/u/9579324?v=4" />
  <%= render "shared/search_bar" %>
</div>

  <div class="card-memory-timeline">
    <% @memories.each do |memory| %>
      <%# <%= link_to_memory_path(memory) do %>
        <div class="card-memory">
          <%= cl_image_tag(memory.photos[0].key, width: 400, height: 400, crop: :fill, class: "object-fit-cover") %>
          <div class="card-memory-infos">
            <h2><%= link_to "#{memory.title}", memory %></h2>
            <p><%= memory.date %></p>
            <%# <p><%= truncate(memory.content.body.to_plain_text, length: 40) %>
          </div>
        </div>
      <%# <% end %>
    <% end %>

<%# <a href="www.lewagon.com" class="btn btn-primary">Create memory</a>
<a href="www.lewagon.com" class="btn btn-danger">Decline</a>
<a href="www.lewagon.com" class="btn btn-warning">Accept</a>
<a href="www.lewagon.com" class="btn btn-success">Submit</a>
<a href="www.lewagon.com" class="btn btn-info">test btn</a> %>
<%# <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab ipsum porro quisquam voluptatibus beatae consectetur est repudiandae doloremque ad.</p> %>


<%# <img class="avatar-bordered  avatar-blue" alt="avatar-bordered" src="https://kitt.lewagon.com/placeholder/users/sarahlafer" />
<img class="avatar-bordered avatar-blue-light" alt="avatar-bordered" src="https://kitt.lewagon.com/placeholder/users/sarahlafer" />
<img class="avatar-bordered avatar-red" alt="avatar-bordered" src="https://kitt.lewagon.com/placeholder/users/sarahlafer" />
<img class="avatar-bordered avatar-yellow" alt="avatar-bordered" src="https://kitt.lewagon.com/placeholder/users/sarahlafer" /> %>

</div>
