<div class="container-home">

<h1>My family timeline</h1>
  <div class="card-memory-timeline">
    <% @memories.each do |memory| %>
      <%# <%= link_to_memory_path(memory) do %>
        <div class="card-memory">
          <%= cl_image_tag(memory.photos[0].key, gravity: :face, crop: :fill) %>
          <div class="card-memory-infos">
            <h2><%= memory.title %></h2>
            <p><%= memory.date %></p>
            <p><%= truncate(memory.content.body.to_plain_text, length: 40) %></p>
          </div>
        </div>
      <%# <% end %>
    <% end %>

<%# <a href="www.lewagon.com" class="btn btn-primary">Create memory</a>
<a href="www.lewagon.com" class="btn btn-danger">Decline</a>
<a href="www.lewagon.com" class="btn btn-warning">Accept</a>
<a href="www.lewagon.com" class="btn btn-success">Submit</a>
<a href="www.lewagon.com" class="btn btn-info">test btn</a>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab ipsum porro quisquam voluptatibus beatae consectetur est repudiandae doloremque ad.</p>


<img class="avatar-bordered  avatar-blue" alt="avatar-bordered" src="https://kitt.lewagon.com/placeholder/users/sarahlafer" />
<img class="avatar-bordered avatar-blue-light" alt="avatar-bordered" src="https://kitt.lewagon.com/placeholder/users/sarahlafer" />
<img class="avatar-bordered avatar-red" alt="avatar-bordered" src="https://kitt.lewagon.com/placeholder/users/sarahlafer" />
<img class="avatar-bordered avatar-yellow" alt="avatar-bordered" src="https://kitt.lewagon.com/placeholder/users/sarahlafer" /> %>

<h2>searchbar</h2>
<%= render "shared/search_bar" %>

</div>
