<h1>Create a new memory</h1>


<%= simple_form_for @memory do |f| %>
  <%= f.input :title %>

*  <%= f.input :location %>

  <%= f.input :date %>

  <%= f.rich_text_area :content %>
  <%= f.submit %>
<% end %>
