<div class="container-home">
  <h1>Create a new memory</h1>

  <div class="container col-12">

    <div class="row justify-content-center">

      <div class="form" data-controller="form">

        <%# <ul id="progressbar">
          <li class="active">Memory info</li>
          <li>Text</li>
        </ul> %>

        <%= simple_form_for @memory do |f| %>

          <% if @step == 1 %>

            <h2>Memory infos</h2>

            <div>

              <div class="py-4 d-flex">
                <% @babies.each do |baby| %>
                <div>
                  <%= cl_image_tag baby.avatar.key, class: "avatar-bordered", style: "border-color : #{baby.color}", data: {baby: baby.id, action: "click->form#sendBabyId"} %>
                </div>
                <% end %>
              </div>

              <div class="d-none" data-form-target="eventfield">
                <%= f.simple_fields_for :key_memories, KeyMemory.new do |key_memory_subform| %>
                  <%= key_memory_subform.input :event, label: "ðŸ¥‡ Event", placeholder: "Choose a key event", collection: KeyMemory::EVENTS %>
                  <%= key_memory_subform.input :baby_id, as: :hidden, input_html: { data: { form_target: "input" }} %>
                <% end %>
              </div>

              <div class="row">
                <%= f.input :title, label: "âœï¸ Title", placeholder: "Enter a title" %>
              </div>

              <div class="d-flex justify-content-between">
                <div class="col-5">
                  <%= f.input :location, label: "ðŸ“Location", placeholder: "City" %>
                </div>
                <div class="col-5">
                  <%= f.input :date,label: "ðŸ“… Date", as: :date, html5: true %>
                </div>
              </div>

              <div class="row" style="margin-top: 12px">
                <%= f.input :medias, as: :file,  input_html: { multiple: true }, label: "ðŸ“¸ðŸŽ¥ Media" %>
              </div>

            </div>

          <% end %>

          <% if @step == 2 %>
            <h2>Text</h2>
            <div>
              <%= f.rich_text_area :content, label: "âœï¸ Description", placeholder: "Write a description" %>
            </div>
          <% end %>

          <div>
            <% unless @step == 2 %>
              <%= f.button :submit, "Next", class:"btn btn-danger btn-submit", style: "color: white" %>
            <% else  %>
              <%= f.submit class: "btn btn-danger btn-submit", style: "color: white" %>
            <% end %>
          </div>

        <% end %>

      </div>
    </div>
  </div>
</div>
