<div class="container-home" style="margin-top: 3vh">

  <div class="container col-12">

    <div class="row justify-content-center">

      <div class="form" data-controller="form">

        <div class="progress-container">
            <div class="progress <%= @step == 2 ? "progress-fill" : "" %>" id="progress"></div>
            <div class="text-wrap">
                <div class="circle progress-fill">1</div>
                <%# <p class="text">What's new?</p> %>
            </div>
            <div class="text-wrap">
                <div class="circle <%= @step == 2 ? "progress-fill" : "" %>">2</div>
                <%# <p class="text">Tell us more</p> %>
            </div>
        </div>

        <%= simple_form_for @memory do |f| %>

          <% if @step == 1 %>

            <h2 class="py-3 steps-form">What's new?</h2>

            <div>

              <div class="py-3 d-flex justify-content-around" style="">
                <div class='d-flex'>
                  <% @babies.each do |baby| %>
                    <div>
                      <%= cl_image_tag baby.avatar.key, class: "avatar-bordered", style: "border-color : #{baby.color}", data: {baby: baby.id, action: "click->form#sendBabyId"} %>
                    </div>
                  <% end %>
                </div>

                <div class="d-none col-6" data-form-target="eventfield">
                  <%= f.simple_fields_for :key_memories, KeyMemory.new do |key_memory_subform| %>
                    <%= key_memory_subform.input :event, label: "🥇 Event", placeholder: "Choose a key event", collection: KeyMemory::EVENTS %>
                    <%= key_memory_subform.input :baby_id, as: :hidden, input_html: { data: { form_target: "input" }} %>
                  <% end %>
                </div>
              </div>

              <div class="py-3 row">
                <%= f.input :title, label: "✍️ Title", placeholder: "Enter a title" %>
              </div>

              <div class="py-3 d-flex justify-content-between">
                <div class="col-5">
                  <%= f.input :location, label: "📍Location", placeholder: "City" %>
                </div>
                <div class="col-6">
                  <%= f.input :date,label: "📅 Date", as: :date, html5: true, input_html: {value: (Date.today)} %>
                </div>
              </div>


            </div>

          <% end %>

          <% if @step == 2 %>

            <h2 class="py-3 steps-form">Tell us more</h2>

            <div class="py-2">
              <p>✍️ Description</p>
              <%= f.rich_text_area :content, label: "✍️ Description", placeholder: "Write a description", style: "height:30vh" %>
            </div>

              <div class="py-2 row">
                <%= f.input :medias, as: :file,  input_html: { multiple: true }, label: "📸 🎥 Media" %>
              </div>
          <% end %>

          <div class="submit_container">
            <div style="text-align:center">
              <span class="step step-fill"></span>
              <span class="step <%= @step == 2 ? "step-fill" : "" %>"></span>
            </div>
            <% unless @step == 2 %>
              <%= f.button :submit, "Next", class:"btn btn-danger btn-submit", style: "color: white" %>
            <% else  %>
              <%= f.button :submit,"Save memory", class: "btn btn-danger btn-submit", style: "color: white" %>
            <% end %>
          </div>

        <% end %>

      </div>
    </div>
  </div>
</div>
