<div class="container">
  <div class="light-bg d-flex justify-content-between">
    <div class="memory-date">
      <p><%= @memory.date.to_date.strftime("%A, %B %d, %Y") %></p>
    </div>
    <div class="memory-buttons">
      <p> Add buttons </p>
    </div>
  </div>
  <div class="d-flex justify-content-between">
    <div class="memory-title">
      <h1><%= @memory.title %></h1>
    </div>
    <div class="babies-avatar">
    <p>
      <% @babies.each do |baby| %>
        <%= baby.nickname.capitalize() %>
      <% end %>
    </p>
    </div>
  </div>
  <div class="memory-content">
    <p><%= @memory.content %></p>
  </div>
  <div class="author-signature text-end nickname-font">
  <p><%= @memory.user.nickname.capitalize() %></p>
  </div>
  <div class="memory-photos d-flex w-100">
    <% @memory.photos.each_with_index do |photo, index| %>
      <% if index == 0 %>
      <div class="image-container w-50">
        <%= cl_image_tag photo.key, width: 400, height: 400, crop: :fill, gravity: :faces, class: "object-fit-cover" %>
      </div>
      <% else %>
      <div class="image-container w-25">
        <%= cl_image_tag photo.key, width: 200, height: 200, crop: :fill, gravity: :faces, class: "object-fit-cover" %>
      </div>
      <% end %>
    <% end %>

    <% @memory.clips.each_with_index do |clip, index| %>
      <% if index == 0 %>
        <div class="image-container w-50">
          <video width="145" height="145" controls src="<%= cl_video_path(clip.key) %>"></video>
        </div>
      <% else %>
        <div class="image-container w-25">
          <video width="50" height="50" controls src="<%= cl_video_path(clip.key) %>"></video>
        </div>
      <% end %>
    <% end %>

  <div class="memory-location image-container w-25" style="width: 100%; height: 89px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
  <% if @comments.length != 0 %>
  <div class="memory-comments">
    <h2>Comments</h2>
    <% @comments.each do |comment| %>
      <div class="comment">
        <p><%= comment.content %></p>
        <p class="text-end nickname-font"><%= comment.user.nickname.capitalize() %></p>
      </div>
    <% end %>
  </div>
  <% end %>
  <% if @linked_memories.length != 0 && @linked_memories[0].length != 0 %>
  <div class="linked-events">
  <h2>Related Memories</h2>
  <% @linked_memories.each do |memory_array| %>
    <% memory_array.each do |memory| %>
      <div class="linked-memory">
       <%= link_to "#{memory.key_memories[0].baby.nickname.capitalize()} - First time #{memory.key_memories[0].event}", memory_path(memory) %>
      </div>
    <% end %>
  <% end %>
  <% end %>
  </div>
</div>
