<div class="container">

  <div class="pt-4">
    <div class="memory-date d-flex pb-1">
     <% if @babies[1] %>
        <%= cl_image_tag @babies[0].avatar.key, height: 50, class: "avatar-bordered", style: "border-color: #{@babies[0].color}" %>
        <%= cl_image_tag @babies[1].avatar.key, height: 50, class: "avatar-bordered", style: "border-color: #{@babies[1].color}" %>
      <% else %>
        <%= cl_image_tag @babies[0].avatar.key, height: 50, class: "avatar-bordered", style: "border-color: #{@babies[0].color}" %>
      <% end %>
      <h1 class=" px-2 pt-1"><%= @memory.title %></h1>
    </div>
    <% if @babies[1] %>
      <p class="babies-ages"><i><%= @memory.date %></i></p>
      <p class="babies-ages"> <i>at <%= @babies[0].age_with_month(@memory) %> old and <%= @babies[1].age_with_month(@memory) %> old</i></p>
    <% else %>
      <div class="d-flex justify-content-between">
        <p class="babies-ages"><i><%= @memory.date %></i></p>
        <p class="babies-ages"> <i>at <%= @babies[0].age_with_month(@memory) %> old</i></p>
      </div>
    <% end %>
  </div>

  <div class="memory-medias d-flex w-100" data-controller="medias">
    <div class="row">
      <%# <% @memory.medias.reverse.each_with_index do |media, index| %>
        <% if @memory.medias[0].content_type.end_with?("mp4") %>

        <div class="col-8">

          <div class="video-container image-container w-100" style="background-image: url(<%= cl_video_path(@memory.medias[0].key) %>.jpg)" data-medias-target="video" data-bs-toggle="modal" data-bs-target="#modal-<%= @memory.medias[0].key %>">
            <i class="fa-regular fa-circle-play"></i>
            <% if @memory.key_memories[0].event != "" %>
              <%= render "shared/event" %>
            <% end %>
          </div>
        </div>

        <div class="col-4">
          <div class="row">
            <% if @memory.medias[1] %>
              <%= cl_image_tag @memory.medias[1].key, width: 500, height: 500, crop: :fill, gravity: :faces, class: "picture object-fit-cover", data: { medias_target: "picture", bs_toggle: "modal", bs_target:"#modal-#{@memory.medias[1].key}" } %>
            <% end %>
          </div>

          <div class="row">
            <% if @memory.medias[2] %>
              <%= cl_image_tag @memory.medias[2].key, width: 500, height: 500, crop: :fill, gravity: :faces, class: "picture object-fit-cover", data: { medias_target: "picture", bs_toggle: "modal", bs_target:"#modal-#{@memory.medias[2].key}" } %>
            <% end %>
          </div>

        </div>
        <% else %>

        <div class="col-8">
          <div class="image-container w-100" style="background-image: url(<%= cl_image_path(@memory.medias[0].key) %>)" data-medias-target="picture" data-bs-toggle="modal" data-bs-target="#modal-<%= @memory.medias[0].key %>">

            <%#= cl_image_tag @memory.medias[0].key, width: 500, height: 500, crop: :fill, gravity: :faces, class: "picture object-fit-cover"%>
                <% if @memory.key_memories[0].event != "" %>
                  <%= render "shared/event" %>
                <% end %>
          </div>
        </div>

        <div class="col-4">
          <div class="row">
            <% if @memory.medias[1] %>
              <%= cl_image_tag @memory.medias[1].key, width: 500, height: 500, crop: :fill, gravity: :faces, class: "picture object-fit-cover", data: { medias_target: "picture", bs_toggle: "modal", bs_target:"#modal-#{@memory.medias[1].key}" } %>
            <% end %>
          </div>

          <div class="row">
            <% if @memory.medias[2] %>
              <%= cl_image_tag @memory.medias[2].key, width: 500, height: 500, crop: :fill, gravity: :faces, class: "picture object-fit-cover", data: { medias_target: "picture", bs_toggle: "modal", bs_target:"#modal-#{@memory.medias[2].key}" } %>
            <% end %>
          </div>

        </div>
        <% end %>

    </div>
      <!-- Modal -->
      <% @memory.medias.reverse.each_with_index do |media, index| %>
        <div class="modal fade" id="modal-<%= media.key %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-body">
                <% if media.content_type.end_with?("mp4") %>
                  <video width="372" height="364" class="baby-media" controls src="<%= cl_video_path(media.key) %>" data-medias-target="video"></video>
                <% else %>
                  <%= cl_image_tag media.key, width: 500, height: 500, crop: :fill, gravity: :faces, class: "baby-media object-fit-cover", data: { medias_target: "picture" } %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
     <% end %>
  </div>

  <div>
    <p class="babies-ages"><i class="fa-solid fa-location-dot px-1"></i><i><%= @memory.location %></i></p>
  </div>

  <div class="memory-content">
    <p><%= @memory.content %></p>
    <div class="author-signature text-end nickname-font p-3">
      <p><%= @memory.user.nickname.capitalize() %></p>
    </div>
  </div>

  <% if @linked_memories.length != 0 && @linked_memories[0].length != 0 %>
    <div class="d-flex justify-content-end">
      <div class="linked-events">
        <%# <h2>Related Memories</h2> %>
        <% @linked_memories.each do |memory_array| %>
          <% memory_array.each do |memory| %>
            <div class="linked-memory">
                <%= cl_image_tag memory.babies[0].avatar.key, height: 50, class: "avatar-bordered", style: "border-color: #{memory.babies[0].color}" %>
              <%= link_to "See #{memory.key_memories[0].baby.nickname.capitalize()} first time #{memory.key_memories[0].event}", memory_path(memory) %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>

  <% if @comments.length != 0 %>
    <div class="wrapper">
      <div class="divider div-transparent"></div>
    </div>



    <div class="memory-comments mb-3">
      <h2>Comments</h2>
        <div class="d-flex justify-content-between">
          <%= cl_image_tag @user2[0].avatar.key, height: 50, class: "avatar-bordered" %>
          <% @comments.each do |comment| %>
            <div class="comment">
              <p style="margin-left: 1vh"><%= comment.content %></p>
              <p class="text-end nickname-font"><%= comment.user.nickname.capitalize() %></p>
            </div>
          <% end %>
        </div>
    </div>
  <% end %>
</div>
