<div class="container">
  <div class="d-flex justify-content-between align-center py-4">
        <div class="memeory-event">
        <%# <p><i class="fa-solid fa-star"></i><%= @memory.key_memories[0].event </p> %>
        <p><%= @memory.key_memories[0].event %></p>
      </div>
    <div class="babies-avatar p-1">
      <% @babies.each do |baby| %>
        <%= cl_image_tag baby.avatar.key, height: 50, class: "avatar-bordered", style: "border-color: #{baby.color}" %>
        <p><%= @age %> years old</p>
      <% end %>
    </div>
  </div>
      <div class="memory-date d-flex justify-content-between">
      <p><i class="fa-solid fa-location-dot px-2"></i><%= @memory.location %></p>
      <p><%= @memory.date %></p>
    </div>
  <div class="memory-content">
    <div class="memory-title">
      <h1><%= @memory.title %></h1>
    </div>
    <p><%= @memory.content %></p>
  </div>
  <div class="author-signature text-end nickname-font p-3">
  <p><%= @memory.user.nickname.capitalize() %></p>
  </div>
  <div class="memory-medias d-flex w-100 pb-4">
    <% @memory.medias.each_with_index do |media, index| %>
      <% if index == 0%>
        <% if media.content_type.end_with?("mp4") %>
          <div class="image-container w-50">
              <video width="145" height="145" controls src="<%= cl_video_path(media.key) %>"></video>
          </div>
        <% else %>
          <div class="image-container w-50">
            <%= cl_image_tag media.key, width: 400, height: 400, crop: :fill, gravity: :faces, class: "object-fit-cover" %>
          </div>
        <% end %>
      <% else %>
        <% if media.content_type.end_with?("mp4") %>
          <div class="image-container w-25">
              <video width="75" height="75" controls src="<%= cl_video_path(media.key) %>"></video>
          </div>
        <% else %>
          <div class="image-container w-25">
            <%= cl_image_tag media.key, width: 200, height: 200, crop: :fill, gravity: :faces, class: "object-fit-cover" %>
          </div>
        <% end %>
      <% end %>
    <% end %>

  <div class="memory-location image-container w-25" style="width: 100%; height: 89px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>

  <% if @comments.length != 0 %>
    <div class="wrapper">
      <div class="divider div-transparent"></div>
    </div>

    <div class="memory-comments mb-3">
      <h2>Comments</h2>
      <% @comments.each do |comment| %>
        <div class="comment">
          <p><%= comment.content %></p>
          <p class="text-end nickname-font p-2"><%= comment.user.nickname.capitalize() %></p>
        </div>
      <% end %>
    </div>
  <% end %>
  <% if @linked_memories.length != 0 && @linked_memories[0].length != 0 %>
    <div class="linked-events">
      <h2>Related Memories</h2>
      <% @linked_memories.each do |memory_array| %>
        <% memory_array.each do |memory| %>
          <div class="linked-memory">
            <%= link_to "#{memory.key_memories[0].baby.nickname.capitalize()} - First time #{memory.key_memories[0].event}", memory_path(memory) %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
