<!DOCTYPE html>
<html>
  <head>
    <title>BabySteps - Chronicle your newborn's adventures, offer the gift of a lifetime</title>
    <meta name="description" content="BabySteps - Chronicle your newborn's adventures, offer the gift of a lifetime">
    <meta property="og:title" content="<%= meta_title %>" />  <meta property="og:type" content="website" />  <meta property="og:url" content="<%= request.original_url %>" />  <meta property="og:image" content="<%= meta_image %>" />  <meta property="og:description" content="<%= meta_description %>" />  <meta property="og:site_name" content="<%= meta_title %>" />
    <meta name="twitter:card" content="summary_large_image">  <meta name="twitter:site" content="<%= DEFAULT_META["twitter_account"] %>">  <meta name="twitter:title" content="<%= meta_title %>">  <meta name="twitter:description" content="<%= meta_description %>">  <meta name="twitter:creator" content="<%= DEFAULT_META["twitter_account"] %>">  <meta name="twitter:image:src" content="<%= meta_image %>">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
    <%= favicon_link_tag asset_path('favicon.ico') %>

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <%= render 'shared/ios_pwa_links' %>
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#aed9e0">

    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
  </head>

  <body>
  <div class="container-bg">
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>

    <%= yield %>
    <%= render 'shared/footer' %>
  </div>
  </body>
</html>
